<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leetcode.mapper.PeopleMapper">
  <resultMap id="BaseResultMap" type="com.leetcode.domain.People">
    <!--@mbg.generated-->
    <!--@Table people-->
    <result column="name"  property="name" />
    <result column="age"  property="age" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `name`, age
  </sql>
  <insert id="insert" parameterType="com.leetcode.domain.People">
    <!--@mbg.generated-->
    insert into people (`name`, age)
    values (#{name}, #{age})
  </insert>
  <insert id="insertSelective" parameterType="com.leetcode.domain.People">
    <!--@mbg.generated-->
    insert into people
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="age != null">
        age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name},
      </if>
      <if test="age != null">
        #{age},
      </if>
    </trim>
  </insert>

  <select id="selectPeopleByName" parameterType="string" resultType="com.leetcode.domain.People">
    <!--@mbg.generated-->
    select  * from people where name = #{name,jdbcType=VARCHAR}

  </select>
</mapper>